<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="taskList" type="FinalProject1_POP.TaskListSection, FinalProject1_POP" />
	</configSections>
	<connectionStrings>
		<add name="FinalProject1" connectionString="server=whyfi8888.ddns.net,11433;uid=team1;pwd=team1;database=team1"/>
	</connectionStrings>
	<appSettings>
		<add key="apiurl" value="http://gdc7finalprojectteam1.azurewebsites.net/"/>
		<add key="timer_Connect" value="1000" />
		<add key="timer_KeepAlive" value="500000" />
		<add key="timer_R_PLC" value="300" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<taskList>
		<taskItem taskID="PLC_1" hostIP="127.0.0.1" hostPort="8100" remark="설비1 입니다." />
		<taskItem taskID="PLC_2" hostIP="127.0.0.1" hostPort="8200" remark="설비2 입니다." />
		<taskItem taskID="PLC_3" hostIP="127.0.0.1" hostPort="8300" remark="설비3 입니다." />
	</taskList>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>