<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FinalProject1" connectionString="server=whyfi8888.ddns.net,11433;uid=team1;pwd=team1;database=team1"/>
	</connectionStrings>
	<appSettings>
		<add key="apiurl" value="http://gdc7finalproject1.azurewebsites.net/"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>