
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginSuccess</title>
</head>
<body>
    <div> 
        <h4>로그인에 성공하였습니다.</h4>
    </div>
</body>
</html>
